body {
    margin: 0;
    padding: 30px;
    background: #e9edf2;
    font-family: Arial, sans-serif;
}

.resume {
    max-width: 900px;
    margin: auto;
    background: white;
}

header {
    text-align: center;
    padding: 35px;
    border-bottom: 3px solid #222;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 8px;
    color: #555;
}


/* LEFT + RIGHT */

.content {
    display: grid;
    grid-template-columns: 32% 68%;
}


/* LEFT */

aside {
    background: #f1f3f5;
    padding: 25px;
    border-right: 2px solid #ccc;
}


/* RIGHT */

main {
    padding: 25px;
}


/* SECTIONS */

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 17px;
    letter-spacing: 1px;
    border-bottom: 2px solid #222;
    padding-bottom: 7px;
}

h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

p,
li {
    font-size: 14px;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}


/* MOBILE */

@media (max-width: 650px) {

    .content {
        grid-template-columns: 1fr;
    }

    aside {
        border-right: none;
        border-bottom: 2px solid #ccc;
    }

}
